.main-head {
  padding: 6px 0;
  background-color: #262b31;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &::before {
      display: none;
    }
  }
  img {
    display: inline-block;
    margin-right: 10px;
  }
  span {
    color: #697686;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }
}

.main-header {
  padding: 15px 0;
  background-color: white;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &::before {
      display: none;
    }
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.15s ease-out;
  img {
    display: inline-block;
    max-width: 100%;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.7;
    }
  }
  button {
    display: none;
    border: none;
    background-color: transparent;
  }
}

.main-header__nav {
  .main-header-nav__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: inline-block;
        padding: 14px 10px;
        border-bottom: 1px solid transparent;
        color: #202020;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.15s ease-out;
        &:hover {
          border-color: #00c621;
          color: #00c621;
          text-decoration: none;
        }
      }
    }
  }
}

.main-header__call {
  span {
    display: block;
    max-width: 200px;
    margin-bottom: 10px;
    color: #202020;
    font-size: 24px;
    font-weight: 700;
    text-align: justify;
  }
}

.main-button {
  display: inline-block;
  padding: 10px 36px;
  box-shadow: inset 0 1px 0 #0bf431, 0 2px 0 #008516;
  background-color: #00c621;
  border-radius: 2px 3px 3px 2px;
  box-shadow: inset 0 1px 0 #0bf431, 0 2px 0 #008516;
  text-shadow: 0.5px 0.9px 0 #007f15;
  color: white;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.15s ease-out;
  &:hover {
    background-color: #04e729;
    color: white;
    text-decoration: none;
  }
  &:active {
    box-shadow: inset 0 1px 0 #0bf431, 0 0 0 #008516;
    color: white;
    text-decoration: none;
  }
}

.home-top {
  padding: 75px 0 200px;
  text-align: center;
  background: url('../images/home_top.jpg') no-repeat center;
  background-size: cover;
  .home-top__title {
    display: block;
    margin-bottom: 35px;
    padding: 18px 100px;
    background-color: #262b31;
    color: white;
    font-size: 60px;
    font-weight: 700;
  }
  p {
    margin-bottom: 35px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    span {
      padding: 12px 30px 12px 30px;
      background-color: #0058b5;
    }
  }
}

.home-title {
  display: block;
  margin-bottom: 70px;
  text-align: center;
  color: #202020;
  font-size: 36px;
  font-weight: 700;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    background: url('../images/title_1.png') no-repeat center;
  }
  &_white {
    color: white;
    &::after {
      background: url('../images/title_2.png') no-repeat center;
    }
  }
}

.home-why {
  padding: 70px 0;
  background: url('../images/bg_1.png') no-repeat bottom;
  background-size: cover;
}

.home-why-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.home-why-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 310px;
  margin-bottom: 70px;
  text-align: center;
  img {
    display: block;
    margin-bottom: 50px;
    width: 75px;
    height: 75px;
    object-fit: contain;
    object-position: center;
  }
  span {
    display: block;
    color: #222;
    font-size: 16px;
    font-weight: 400;
  }
  &_short {
    max-width: 220px;
  }
}

.home-how {
  padding: 70px 0;
  background: url('../images/bg_2.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
}

.home-how-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home-how-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 250px;
  margin-bottom: 70px;
  img {
    display: block;
    width: 85px;
    height: 85px;
    margin-bottom: 30px;
    object-fit: contain;
    object-position: center;
  }
  span {
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
}

.home-how__title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  color: #fefefe;
  font-size: 30px;
  font-weight: 700;
}

.home-catalog {
  padding: 70px 0 50px;
}

.home-catalog-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home-catalog-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 310px;
  margin-bottom: 40px;
  text-align: center;
  transition: all 0.15s ease-out;
  img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    transition: all 0.15s ease-out;
  }
  &:hover {
    img {
      -webkit-filter: brightness(70%);
    }
  }
}

.home-catalog-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 15px;
  height: 50px;
  background-color: #0058b5;
  overflow: hidden;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.15s ease-out;
  &:hover {
    background-color: #00c621;
    text-decoration: none;
    color: white;
  }
}

.home-news {
  padding: 50px 0 100px;
}

.home-news-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.home-news-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 330px;
  img {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    object-fit: cover;
    object-position: center;
    transition: all 0.15s ease-out;
  }
  span {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    color: #181818;
    font-size: 24px;
    font-weight: 400;
  }
  p {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    font-size: 16px;
    color: #181818;
    font-weight: 400;
  }
  a {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #00c621;
    font-weight: 700;
    text-decoration: underline;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: none;
      color: #0058b5;
    }
  }
  &:hover {
    img {
      -webkit-filter: brightness(70%);
    }
  }
}

.footer-nav {
  padding: 15px 0 25px;
  background-color: #262b31;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: inline-block;
        padding: 14px 10px;
        border-bottom: 1px solid transparent;
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.15s ease-out;
        &:hover {
          border-color: #00c621;
          color: #00c621;
          text-decoration: none;
        }
      }
    }
  }
}

.main-footer {
  padding-bottom: 30px;
  background-color: #262b31;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &::before {
      display: none;
    }
  }
}

.main-footer__info {
  div {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    img {
      display: inline-block;
      width: 17px;
      height: 17px;
      margin-right: 10px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.main-footer__social {
  span {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
    font-weight: 400;
  }
  a {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.7;
    }
  }
}

.main-footer__call {
  span {
    display: block;
    max-width: 200px;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: justify;
  }
}

.footer-creators {
  padding: 12px 0;
  background-color: #181c21;
  transition: all 0.15s ease-out;
  &:hover {
    background-color: #262b31;
    img {
      transform: rotate(3600deg);
    }
  }
}

.footer-creators__block {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: inline-block;
    margin-right: 10px;
    transition: all 2s ease-out;
  }
  a {
    color: white;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      color: #00c621;
      text-decoration: none;
    }
  }
}

.page-top {
  padding: 50px 0;
  text-align: center;
  background: url('../images/page_top.jpg') no-repeat center;
  background-size: cover;
  .page-top__title {
    display: block;
    margin-bottom: 35px;
    padding: 18px 100px;
    background-color: #262b31;
    color: white;
    font-size: 60px;
    font-weight: 700;
  }
  p {
    margin-bottom: 35px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    span {
      padding: 12px 30px 12px 30px;
      background-color: #0058b5;
    }
  }
}

.page-title {
  display: block;
  margin-bottom: 25px;
  text-align: center;
  color: #202020;
  font-size: 36px;
  font-weight: 700;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    background: url('../images/title_1.png') no-repeat center;
  }
}

.main-content {
  padding: 40px 0 200px;
  background: url('../images/bg_1.png') no-repeat bottom;
  background-size: cover;
}

.main-breadcrump {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #8a8a8a;
  a {
    color: #0058b5;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover {
      text-decoration: underline;
      color: #00c621;
    }
  }
  span {
    margin: 0 5px;
  }
}

.main-sidebar {}

.main-sidebar__title {
  display: block;
  margin-bottom: 15px;
  color: #222;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.main-sidebar__nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    a {
      display: block;
      position: relative;
      margin-bottom: 4px;
      padding: 10px 9px;
      background-color: #0059b6;
      background-image: linear-gradient(to top, #0059b6 0%, #0369d6 100%);
      border-radius: 4px 5px 5px 4px;
      color: white;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      span {
        position: absolute;
        right: 10px;
        top: 17px;
        transform: rotate(270deg);
      }
      &:hover,
      &:active,
      &:focus {
        background-color: #007f15;
        background-image: linear-gradient(to top, #007f15 0%, #00c621 100%);
        text-decoration: none;
      }
    }
  }
}

.main-sidebar-nav__drop {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f1f1f1;
  border-radius: 4px 5px 5px 4px;
  li {
    a {
      display: block;
      padding: 10px 14px;
      background: transparent;
      border-radius: 0 !important;
      box-shadow: 0.5px 0.9px 0 #c5c5c5;
      color: #202020;
      font-size: 15px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #999;
        text-decoration: none;
      }
    }
  }
}

.page-content {
  padding-top: 40px;
}

.categories-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.categories-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 260px;
  margin-bottom: 25px;
  background: white;
  box-shadow: 0 0 10px #e1e1e1;
  text-align: center;
  transition: all 0.15s ease-out;
  div {
    padding: 0 25px 25px 25px;
  }
  img {
    display: block;
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: center;
    transition: all 0.15s ease-out;
  }
  &:hover {
    box-shadow: none;
    img {
      -webkit-filter: brightness(70%);
    }
  }
}

.categories-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 12px;
  color: #0058b5;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  transition: all 0.15s ease-out;
  &:hover {
    color: #00c621;
    text-decoration: none;
  }
}

.goods-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #cecece;
  div:first-child {
    font-size: 14px;
    font-weight: 400;
    color: #222;
    span {
      display: inline-block;
      margin-right: 5px;
    }
    a {
      display: inline-block;
      margin-right: 5px;
      padding: 4px 4px;
      color: #222;
      &:hover,
      &:active {
        background-color: #00c621;
        color: white;
        text-decoration: none;
      }
    }
  }
  div:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #222;
    span {
      display: inline-block;
    }
    select {
      border: none;
      color: #0058b5;
    }
  }
}

.goods-filter_active {
  background-color: #00c621;
  color: white !important;
}

.goods-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.goods-card {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 190px;
  margin-bottom: 25px;
  margin-right: 15px;
  background: white;
  box-shadow: 0 0 10px #e1e1e1;
  text-align: center;
  transition: all 0.15s ease-out;
  div {
    padding: 20px 10px;
  }
  img {
    display: block;
    width: 100%;
    height: 155px;
    object-fit: cover;
    object-position: center;
    transition: all 0.15s ease-out;
  }
  p {
    display: block;
    height: 40px;
    overflow: hidden;
    margin-bottom: 15px;
    text-align: left;
    color: #222;
    font-size: 14px;
    font-weight: 400;
  }
  span {
    display: block;
    margin-bottom: 15px;
    color: #0058b5;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  a {
    width: 100%;
  }
  &:hover {
    box-shadow: none;
    img {
      -webkit-filter: brightness(70%);
    }
  }
}

.main-pagintation {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin: 40px auto 0;
  padding: 5px;
  background: white;
  border-top: 2px solid #cecece;
  border-bottom: 2px solid #cecece;
  text-align: center;
  li {
    display: inline-block;
    a {
      display: inline-block;
      padding: 4px 8px;
      font-size: 14px;
      font-weight: 400;
      color: #222;
      &:hover,
      &:active {
        background-color: #00c621;
        color: white;
        text-decoration: none;
      }
    }
  }
}

.main-pagintation_active {
  background-color: #00c621;
  color: white !important;
}

.gallery-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.gallery-card {
  display: inline-block;
  width: 405px;
  height: 220px;
  margin-bottom: 20px;
  background-size: cover;
  border-radius: 4px;
}

.gallery-card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 405px;
  height: 220px;
  border-radius: 4px;
  transition: all 0.15s ease-out;
  img {
    display: inline-block;
    opacity: 0;
    transition: all 0.25s ease-out;
  }
  &:hover {
    background-color: rgba(0, 31, 47, 0.75);
    img {
      opacity: 1;
    }
  }
}

.news-card {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 180px;
    margin-right: 30px;
    padding: 12px;
    background-color: white;
    box-shadow: 0 0 10px #e1e1e1;
    img {
      display: block;
      width: 236px;
      height: 156px;
      object-fit: cover;
      object-position: center;
    }
  }
  div:last-child {
    max-width: 500px;
  }
  span {
    display: block;
    margin-bottom: 15px;
    color: #0058b5;
    font-size: 22px;
    font-weight: 400;
  }
  p {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    color: #222;
    font-weight: 400;
  }
  a {
    display: block;
    font-size: 16px;
    color: #00c621;
    font-weight: 700;
    text-decoration: underline;
    text-align: right;
    transition: all 0.15s ease-out;
    &:hover {
      color: #0369d6;
      text-decoration: none;
    }
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    background: url('../images/news_footer.png') no-repeat center;
  }
  &:hover {
    img {
      -webkit-filter: brightness(70%);
    }
  }
}

.article-content {
  color: #222;
  font-size: 16px;
  font-weight: 400;
  p {
    margin-bottom: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 30px 0;
    color: #202020;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  blockquote {
    margin: 20px 0;
    padding: 16px;
    background-color: #0058b5;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 15px;
    }
    li::before {
      display: block;
      position: absolute;
      margin-left: -25px;
      margin-top: 3px;
      content: '';
      width: 15px;
      height: 15px;
      background: url('../images/icon_arrow_right.png') no-repeat center;
      background-size: contain;
    }
  }
}

.good-main {
  color: #202020;
  font-size: 16px;
  font-weight: 400;
  p {
    margin-bottom: 25px;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
    }
    li::before {
      display: block;
      position: absolute;
      margin-left: -25px;
      margin-top: 3px;
      content: '';
      width: 15px;
      height: 15px;
      background: url('../images/icon_arrow_right.png') no-repeat center;
      background-size: contain;
    }
  }
}

.good-main__title {
  display: block;
  margin-bottom: 20px;
  color: #202020;
  font-size: 30px;
  font-weight: 700;
}

.good-main__buy {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  padding-left: 16px;
  background-color: #0058b5;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  .main-button {
    padding: 10px 60px;
  }
}

.good-article {
  margin-top: 40px;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  p {
    margin-bottom: 20px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 30px 0;
    color: #202020;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  blockquote {
    margin: 20px 0;
    padding: 16px;
    background-color: #0058b5;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 15px;
    }
    li::before {
      display: block;
      position: absolute;
      margin-left: -25px;
      margin-top: 3px;
      content: '';
      width: 15px;
      height: 15px;
      background: url('../images/icon_arrow_right.png') no-repeat center;
      background-size: contain;
    }
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 6px;
  li {
    a {
      &:hover {
        background: transparent;
        color: #0058b5;
      }
    }
  }
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px;
}

.slider-top {
  padding: 20px 0;
  text-align: center;
  .slider-top__title {
    display: block;
    margin-bottom: 35px;
    padding: 18px 100px;
    background-color: #262b31;
    color: white;
    font-size: 60px;
    font-weight: 700;
  }
  p {
    margin-bottom: 35px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    span {
      padding: 12px 30px 12px 30px;
      background-color: #0058b5;
    }
  }
}