#sync2 {
  .owl-wrapper-outer {
    padding: 8px 0 !important;
    background: white !important;
    box-shadow: 0 0 10px #e1e1e1 !important;
  }
}

.owl-theme .owl-controls .owl-page span {
  width: 20px !important;
  height: 20px !important;
  background-color: white;
  border: 1px solid #cfcfcf;
}

.owl-pagination {
  .active {
    span::after {
      display: block;
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      margin: 4px;
      border-radius: 999rem;
      background-color: #00c621;
    }
  }
}

#sync1 .owl-item {
  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
  }
}

#sync2 .owl-item {
  img {
    height: 58px;
    object-fit: cover;
    object-position: center;
    -webkit-filter: brightness(50%);
  }
}

#sync2 .synced {
  img {
    -webkit-filter: brightness(100%);
  }
}

table {
  color: #1f1f1f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

thead {
  background-color: #0058b5;
  border: 1px solid #d0d1d2;
  color: white;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.nav>li>a:hover {
  background-color: transparent;
}

.dropdown-menu {
  li {
    a {
      display: block;
      width: 100%;
    }
  }
}

.lightbox {
  display: none;
}

.carousel-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  bottom: auto;
  top: 20px;
}