@media (max-width: 1400px) {
  .slider-top {
    padding: 40px 0;
  }
  .slider-top .slider-top__title {
    font-size: 32px;
    padding: 10px;
  }
  .slider-top p span {
    font-size: 18px;
    padding: 10px;
  }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-header__logo {
    button {
      display: inline-block;
    }
  }
  .main-head .container {
    flex-flow: column nowrap;
    div {
      margin: 0;
      img {
        margin-right: 2px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .main-header .container {
    flex-flow: column nowrap;
    justify-content: center;
  }
  .main-header__logo {
    width: 100%;
    justify-content: space-around;
  }
  .main-header__call span {
    margin-bottom: 0;
  }
  .home-top {
    padding: 20px 0;
  }
  #navbar {
    width: 100%;
    margin-top: 5px;
    background-color: #f0f0f0;
  }
  .main-header__nav {
    width: 100%;
    ul {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }
  }
  .main-header__nav ul li a {
    padding: 6px 12px;
  }
  .home-top .home-top__title {
    margin-bottom: 0;
    padding: 10px;
    font-size: 24px;
  }
  .home-top p {
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #0058b5;
    span {
      padding: 0;
      background-color: transparent;
    }
  }
  .home-title {
    margin-bottom: 20px;
    font-size: 24px;
    &::after {
      height: 20px;
    }
  }
  .home-why {
    padding: 20px 0;
  }
  .home-why-cards {
    justify-content: space-around;
  }
  .home-why-card {
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  .home-how {
    padding: 20px 0;
  }
  .home-how-cards {
    justify-content: space-around;
  }
  .home-how-card {
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
  }
  .home-how__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .home-catalog {
    padding: 20px 0;
  }
  .home-catalog-cards {
    justify-content: space-around;
  }
  .home-catalog-card {
    margin-bottom: 20px;
  }
  .home-news {
    padding: 0 0 20px;
  }
  .home-news-cards {
    justify-content: space-around
  }
  .home-news-card {
    margin-bottom: 20px;
    img {
      margin-bottom: 10px;
    }
    span {
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
  }
  .main-footer__info {
    img {
      margin-right: 3px;
    }
    span {
      font-size: 12px;
    }
  }
  .main-footer__info div img {
    margin-right: 3px;
  }
  .main-footer .container {
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
  }
  .main-footer__call {
    text-align: center;
    span {
      margin: 0 auto;
    }
  }
  .page-top p {
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #0058b5;
    span {
      padding: 0;
      background-color: transparent;
    }
  }
  .page-top .page-top__title {
    margin-bottom: 0;
    padding: 10px;
    font-size: 24px;
  }
  .page-top {
    padding: 20px 0;
  }
  .main-content {
    padding: 20px 0;
  }
  .page-title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .page-content {
    padding-top: 20px;
  }
  .categories-cards {
    justify-content: space-around;
  }
  .main-pagintation {
    margin-top: 0;
  }
  .goods-cards {
    justify-content: space-around;
  }
  .goods-card {
    margin-right: 0;
  }
  .gallery-cards {
    justify-content: space-around;
  }
  .gallery-card {
    max-width: 100%;
    &__content {
      max-width: 100%;
    }
  }
  .article-content {
    .col-md-6 {
      padding: 0;
    }
  }
  .page-content {
    .col-md-5,
    .col-md-7,
    .col-md-12 {
      padding: 0;
    }
  }
  .good-main__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .good-main__buy {
    justify-content: space-around;
  }
  .carousel-caption {
    left: 20px;
    right: 20px;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}